.main{
   
    width:40%;
    box-shadow: 2px 2px 10px silver;
    margin:0;
     padding: 10px; 
}

input{
    margin-bottom: 10px;
    width:60%;
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight:bold;

}
button{
border:none;
padding: 10px;
width:40%;
font-weight:bold;
font-size:15px;
background-color: #0eeab3;
cursor: pointer;
margin-bottom: 50px;

}
label{
padding: 10px;
cursor: pointer;
font-weight: bold;
font-size:15px;
background-color: rgb(98, 213, 245);
margin-bottom: 15px;
}

a{
 text-decoration:underline;
 font-size: 18px;
 color: rgb(213, 9, 16);
 font-weight: bold;

}
        

       